* {
	margin: 0;
	padding: 0;
}
html {
	--bg: #282828;
	--red: #fb4934;
	--orange: #fe8018;
	--purple: #d3869b;
	--yellow: #fabd2f;
	--green: #b8bb26;
	--cyan: #8ec07c;
	--blue: #83a598;
	--fg: #f1e0bd;
}
.margin {
	max-width: 1000px;
	margin: auto;
}

body {
	height: 100vh;

	background: linear-gradient(172deg, #282828 36%, #111111 100%); 
	color: var(--fg);
	font-family: 'Source Code Pro', monospace;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 10rem;
	align-self: flex-start;
}
h2 {
	font-size: 1rem;
	width: 10rem;
}
h2:nth-of-type(1) {
	background-color: var(--red);
}
h2:nth-of-type(2) {
	background-color: var(--blue);
}
h2:nth-of-type(3) {
	background-color: var(--green);
}
h2:nth-of-type(4) {
	background-color: var(--orange);
}
a {
	text-decoration: none;
	color: inherit;
}

.links-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}
.links-flex {
	margin-top: 1rem;

	display: flex;
	align-items: flex-start;
}
.links {
	width: 10rem;
	background-color: var(--fg);
	color: var(--bg);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.links:nth-of-type(2) {
	margin: 0 1rem;
}
.links:nth-of-type(3) {
	margin-right: 1rem;
}
.links a:not(:first-child) {
	margin-top: 1rem;
}